apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - ../../../portfolio-service

labels:
  - pairs:
      environment: production

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: portfolio-service
  - patch: |-
      - op: replace
        path: /data/FLASK_ENV
        value: production
    target:
      kind: ConfigMap
      name: portfolioservice-config
