apiVersion: v1
kind: Service
metadata:
  name: pricing-service
  labels:
    app: pricing-service
spec:
  type: ClusterIP
  selector:
    app: pricing-service
  ports:
    - name: http
      port: 12000
      targetPort: 12000
